
@media  (max-width: 759px)
{

.lead {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.stat_block p {
    font-size: 9px;
    color: rgb(243, 235, 17);
    text-transform: uppercase;
    line-height: 2;
    text-align: right;
}


.dapp-title {
	font-size: 67px;
	margin-bottom: 20px;
}
.featurette .lineright {
	margin: 15px 0px;
	padding: 0px 15px;
	border-right: 0px solid #303b43;
}
.jumbotron h1, .jumbotron .h1 {
	font-size: 37px;
	font-weight: normal;
	color: rgb(65, 133, 225);
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	background: -webkit-linear-gradient(left, #67e0bc, #4c9ace);
	background: linear-gradient(left, #67e0bc, #4c9ace);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 0px;
	margin-bottom: 25px;
}
.footer-menu {
	text-align: center;
}
.jumbotron {
	background: none;
	padding: 0px 0px 0px 0px !important;
}
.center_title {
	text-align: center!important;
	color: rgba(53,98,140,1.00);
	margin: 15px 0px !important;
	display: block;
	font-size: 30px;
	letter-spacing: 0px;
}
.featurette .lineright {
	margin: 15px 0px 0px;
	padding: 0px 15px;
	border-right: 0px solid #303b43;
}
.feature_block {
	display: block;
	height: 130px;
}
.footer-text p {
	font-size: 11px;
}
.feature_block p {
	font-size: 17px;
	color: rgb(255, 255, 255);
	line-height: 2.1;
	text-align: left;
	text-transform: none;
	max-width: 100%;
	margin-top: 6px;
}
.feature_block span {
	float: left;
	margin-right: 15px;
	margin-left: 25px;
	width: 30px;
}
.img_game {
	width: 100%;
}
.step_block h3 {
	font-size: 11px;
	color: #6bde86;
	margin: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	border-top: 0px;
	box-shadow: none;
}
.navbar-default .navbar-toggle {
	border-color: rgba(255,255,255,0.1);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	padding: 9px 13px 6px 13px;
	border-style: solid;
	border-width: 0px;
	border-color: none;
	border-radius: 4px;
	background-color: none;
	box-shadow: none;
	margin-top: 4px;
	background: none;
}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 0px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-overflow-scrolling: touch;
}
.nav>li {
	position: relative;
	display: block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-overflow-scrolling: touch;
}
.game_block p {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	line-height: 1.1;
	text-align: left !important;
	padding: 0px;
	margin: 0px;
}
p.center_block {
	background-image: none;
	margin: 15px auto;
}
.games-lead {
	font-size: 67px;
	text-align: center;
}
.games-heading {
	font-size: 30px;
	text-align: center;
}
.bg_right {
	background-image: none;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer-title {
	font-size: 47px;
	color: rgb(95, 216, 128);
	line-height: 1.2;
	text-align: center;
}
.play-image {
	margin: 0px auto;
	margin-top: 40px;
}
.adress_line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px 10px 8px;
    font-size: 11px;
}

.step_block {
	border-top: 1px solid #1c2b3e;
	padding-top: 13px;
	margin-top: 13px;
	display: block
}
.step_bor {
	border-right: 0px solid #303b43;
}
.stat_block p span {
	font-size: 19px;
	margin-bottom: 0px;
}
.lineright {
	border: none
}
.lineright_last {
	border: none
}
.featurette .btn_game, .featurette .btn_lis {
	padding: 15px;
	text-align: center;
	border-top: 1px solid rgba(3, 3, 3, 0.2);
}
.mob_view {
	display: block;
	width: 120px;
	float: left;
	font-size: 11px;
	color: rgba(163,163,163,1.00)
}
.tab-pop .small-pane {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
}
@media  (max-width: 759px)
{
.lineright {
	border: 0px !important;
}
.featurette .btn_game {
	cursor: pointer;
	padding: 15px;
}
.modal-footer {
	padding: 20px 0px 0px 0px
}
.nav-pop>li>a {
	margin-right: -1px;
	line-height: 1.42857143;
	border: 0px solid #1c2b3e;
	color: #c3c3c3;
	border-right: 1px solid #e1e1e1;
	border-radius: 0;
	font-size: 15px;
}
.featurette .btn_game, .featurette .btn_lis {
	border-left: 0px solid rgba(3, 3, 3, 0.2);
}
.featurette .btn_lis {
	border-left: 1px solid rgba(3, 3, 3, 0.2);
}

	.footer-lead i {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    margin-top: 40px;
}
.footer_menu_text .footer-lead {
    width: 15%;
    display: inline;
    margin: 0px 10px;
}
.footer_menu_text {
	border-bottom: 1px solid #313c4b;
	border-top: 1px solid #313c4b;
	margin-top:50px; padding-bottom:30px; display: inline-block;
}
	.disclamer {
		font-size:14px; color:rgba(104,120,146,1.00)
	}
}

@media (min-width: 760px) and (max-width: 1024px) {
	.games-heading {
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    margin: 0px;
}
.games-lead {
    font-size: 97px;
    color: rgb(250, 237, 94);
    line-height: 0.897;
    text-align: center;
}
.bg_right {

    padding-bottom: 70px;
}

.play-image {
    margin-top: 3px;
    display: inline;
}

	.footer-lead i {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    margin-top: 40px;
}
.footer_menu_text .footer-lead {
    width: 15%;
    display: inline;
    margin: 0px 10px;
}
.footer_menu_text {
	border-bottom: 1px solid #313c4b;
	border-top: 1px solid #313c4b;
	margin-top:50px; padding-bottom:30px; }

.featurette .btn_game, .featurette .btn_lis {
	border-left: 0px solid rgba(3, 3, 3, 0.2);
}
.featurette .btn_lis {
	border-left: 1px solid rgba(3, 3, 3, 0.2);
}
.featurette .lineright {
	margin: 15px 0px;
	padding: 0px 15px;
	border-right: 0px solid #303b43;
}
.mob_view {
	display: block;
	width: 120px;
	float: left;
	font-size: 11px;
	color: rgba(163,163,163,1.00);
}
.hidden-xs {
	display: none;
}
.footer-menu {
	text-align: left;
}
.mob_view {
	display: block;
	width: 120px;
	float: left;
	font-size: 11px;
	color: rgba(163,163,163,1.00)
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	padding: 5px 13px 6px 13px;
}
.jumbotron h1, .jumbotron .h1 {
	font-size: 57px;
}
.feature_block {
	display: block;
	height: 160px;
	text-align: center;
	padding-top: 20px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 12px !important;
	margin-right: 0px !important;
	padding-right: 10px;
}
.game_block p {
	font-family: 'Montserrat', sans-serif;
	font-size: 67px;
	color: rgb(255, 255, 255);
	line-height: 1.1;
	text-align: left !important;
	padding: 0px;
	margin: 0px;
}
.stat_block p span {
	font-size: 33px;
	margin-bottom: 0px;
	text-align: left
}
.featurette .btn_game {
	border-left: 1px solid rgba(3, 3, 3, 0.2);
	border-top: 1px solid rgba(3, 3, 3, 0.2);
}
.featurette .btn_lis {
	border-top: 1px solid rgba(3, 3, 3, 0.2);
}
.img_game {
	width: 90%;
	border-radius: 4px;
	margin-bottom: 15px;
}
.step_block {
	border-top: 1px solid #303b43;
	border-right: 0px solid #303b43;
	text-align: center;
	padding: 10px 0px 17px;
}
.center_title {
	margin: 25px 0px !important;
}
.navbar {
	margin-bottom: 0px;
}
.featurette-heading {
	font-size: 15px;
	color: #87bdf9;
	margin: 0px 0px 0px 0px;
}
.lead {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.step_block p {
	font-size: 23px;
	margin: 0px;
	line-height: 19px;
	margin-top: 7px;
}
.stat_block p {
	font-size: 18px;
	color: rgb(243, 235, 17);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
	text-align: left;
	padding-top: 5px;
}
.feature_block span {
	float: none;
	/* margin-right: 15px; */
    /* margin-left: 25px; */
	width: 60px;
	margin: 0px auto;
	display: block;
}
.feature_block p {
	font-size: 27px;
	color: rgb(255, 255, 255);
	line-height: 1.1;
	text-align: center;
	text-transform: none;
	max-width: 100%;
	margin-top: 6px;
}
.navbar-right .mob_view {
	display: none;
}
.navbar-brand>img {
	display: block;
	margin: 0px auto;
}
.navbar-right {
	float: right;
}
.navbar-header {
	float: none;
	width: 100%;
}
.navbar-brand {
	width: 100%;
}
.featurette:hover .lineright {
	border-right: 0px solid #598d86
}

}

@media (min-width: 1035px) {
.featurette-heading {
	font-size: 9px;
	color: #87bdf9;
	margin: 0px 0px 0px 0px;
}
.navbar-default .navbar-nav>li>a {
	margin-right: 4px !important;
}
.navbar-default .navbar-nav>li>a {
	font-size: 13px !important;
}
}

@media (min-width: 1210px) {
.navbar-default .navbar-nav>li>a {
	margin-right: 6px !important;
}
.featurette-heading {
	font-size: 11px;
	color: #87bdf9;
	margin: 0px 0px 0px 0px;
}
}
